.text{
    color : white;
    text-align: center;
}
.capsule-global{
    width : 100/2%;
    height: 200px;
    background-color:rgb(39, 44, 53);
}
.capsule-card{
    margin-right: 50px;
    background-color:rgb(39, 44, 53);
    
}
.capsule-body{
    
    font-size: 20px;
    background-color:rgb(165, 153, 153);
    
}