.styled {
    background-color: #c4c4c4;  
    border: none;
    color: black;
    padding: 15px ;
    margin-top: 450px;
    margin-left: 400px;
    margin-right: 280px;
     text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 8px;

}

 