.styled {
    background-color: #c4c4c4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

 