.styled {
    background-color: #c4c4c4;  
    border: none;
    color: white;
    padding: 15px ;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 250px;
     text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

 